@font-face {
  font-family: 'Inter';
  src: url('public\fontes\Inter-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
    font-weight: 300;
    font-style: normal;
}

body{
     overflow: hidden;
}

#title {
    font-weight: 700;
    position: relative;
    font-size: 65px;
}

#titleinfo {
    position: relative;
    right: 0px;
    border-bottom: 3px solid rgba(204, 64, 57, 1);
    width: 385px;
    font-size: 35px;
}

.line {
    width: 970px;
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}

.alinhar {
    display: flex;
    /* max-width: 100%; */
    /* margin: 0 auto; */
}

.area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 40px;
    /* margin-top: -50px; */
}



/* BARRA LATERAL */
.barra-lateral img {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 150px;
}

.barra-lateral {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 235px;
    height: 1340px;
    background-color: rgba(246, 246, 246, 1);
}

.barra-lateral a {
    text-decoration: none;
    color: black;
}

.opcao {
    display: flex;
    align-items: center;
    padding-left: 36px;
    gap: 10px;
    height: 40px;
    width: 235px;
    cursor: pointer;
}

.opcao:hover {
    background-color: white;
}

input {
    display: flex;
    align-items: center;
    outline: none;
    /* width: 970px; */
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(222, 222, 222, 1);
}



/* CONTAINER ONDE ESTÁ TODOS OS ELEMENTOS DO FORMULÁRIO */
.container {
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: space-between;
    padding: 50px;
    height: 100vh;
}



/* CONTAINER DO VOLUME, QUANTIDADE E EDIÇÃO */
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container3{
    width: fit-content;
    height: 100%;
}

.container4 {
    display: flex;
    width: fit-content;
    height: 100%;
    top: 0;
    padding: 0;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 10px;
}

#desc {
    width: 970px;
    height: 200px;
}



/* #edicao,
#volume,
#quantidade {
    width: 300px;
} */



/* DATA DE PUBLICAÇÃO */
#data {
    /* position: relative; */
    right: 335px;
    font-size: 20px;
    margin-top: 10px;
}

/* .botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 970px;
    margin-top: 25px;
} */

#enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
    transition: 300ms;
    background-color: rgba(204, 64, 57, 1);
}

#enviar:hover {
    scale: 1.05;
}

#add-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    gap: 12px;
    width: 200px;
    height: 50px;
    transition: 300ms;
    background-color: rgba(75, 193, 210, 0.31);
    cursor: pointer;
}

#add-img img {
    width: 18px;
    height: 18px;
}

#add-img:hover {
    scale: 1.05;
}


/* PERFIL DO USUARIO */
.conta {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    right: 20px;
    width: 185px;
    height: 60px;
    padding-left: 15px;
    background-color: rgba(238, 238, 239, 1);
    border-radius: 100px;
}

.txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
}

#menu {
    opacity: 70%;
}

.img-conta {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: red;
}

@media (min-width: 900px) and (max-width: 1200px) {
    
    .txt {
        display: none;
    }

    .img-conta{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: red;
    }
    
    #menu {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin: 0 50px 0;
        padding: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: none;
        position: relative;
        background-color: rgba(238, 238, 239, 1);
        }

    .conta { 
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    right: 20px;
    width: 50px;
    padding-left: 0;
    height: 50px;
    background-color: rgba(238, 238, 239, 1);
    border-radius: 100px;
    
}

.alinhar {
    display: flex;
    height: 100vh;
    /* max-width: fit-content; */
    /* margin: 0; */
}
     

    #Assuntos, #Titulo,
    #Autor, #Editora,
    #Volume, #Edicao,
    #Quantidade, #AnoPublicacao {
        width: 800px;
    }

}
